.column-search {
    input {
        height: 25px;
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 1px;
        display: inline-block;
        width: 98%;
    }
}